body {
     background-color: aqua;
     font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
     font-family: "Comic Sans MS", cursive;
     font-size: 60px;
     color: darkblue;
     text-align: center;
}

h4 {
     text-align: right;
     font-style: italic;
}

a {
     color: blue;
}

p {
     text-align: justify;
}

.center {
     text-align: center;
}

.end {
     text-align: end;
}

.white {
     color: white;
}

.yellow {
     color: orange;
}
